body {
  background-color: #262937;
}
.icon { 
 width: 25px ; 
 height: 25px ;
 margin: 2px ;
}
form {
  display: flex;
  margin: 2px;
}
input {  
  margin: 2px;
}
button { 
  margin: 2px;
}
.image-group { 
 width : 400px ;
 height: 250px;
 margin: 40px;
 margin-left: 200px;
 display: flex;
 justify-content: center;
}